<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CP_CFDi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CP_CFDi.Properties.Settings>
            <setting name="CP_CFDi_WSTimbrado_TimbradoCFDServiceExternal"
                serializeAs="String">
                <value>https://www.masfacturaweb.com.mx:99/TimbradoCFDServiceExternal.asmx</value>
            </setting>
        </CP_CFDi.Properties.Settings>
    </applicationSettings>
</configuration>